.container {
    padding: 50px;

}

.display-4 {
    border-style: solid 3px;
    border-color: white;

}

.badge {
    font-size: large;
}


.footer {
    height: 30px;
    flex-shrink: 0;
    background-color: lightslategrey;
    text-align: center;
}
